// global title
$global-title-font-size: 18px;
$global-title-font-weight: 400;
$global-title-color: #333;
// item title
$item-title-font-size: 14px;
$item-title-font-weight: 600;
$item-title-color: #0465ac;
// item title opened
$item-title-opened-font-size: 18px;
// item desc
$item-subtitle-font-size: 12px;
$item-subtitle-font-weight: 600;
$item-subtitle-color: #999;
// content
$content-font-size: 13px;
$content-font-weight: 400;
$content-color: #333;
// toggle icon
$toggle-icon-color: #0465ac;
$toggle-icon-size: 26px;
