$bg-color: whitesmoke;

$accordion-bg-color: white;
$accordion-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
$accordion-with-desc-min-height: 70px;
$accordion-no-desc-height: 50px;

$divider-color: #e4e6e5;
$divider: 1px solid $divider-color;

$padding: 25px;
$space-between-panels: $padding + 5px;
$space-between-title-subtitle: 12px;

$grid-column-gap: 30px;
$grid-margin: 25px;

$main-title-panel-height: 60px;