@import 'typography';
@import 'variables';

:root {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg-color;
}

h1 {
  margin: 25px;
  color: $item-title-color;
  text-transform: capitalize;
}
